.form{
    background-color: $color-secundary;
    padding-bottom: 15px;
    padding-left: 14px;
    display: flex;

    h2{
        font-size: 1.5em;
        padding: 6px;
    }
    
    &-texto{
        font-size: 1.50em;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
    }
    &-boton{
        border: none;
        border-radius: 3px;
        background-color: $black;
        color: $color-tertiary;
        height: 35px;
    }
}
.field{
    border: solid 1px $color-field;
    border-radius: 3px;
    height: 35px;
}