.header{
    background-color: $color-secundary;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 1.90em;
        text-align: center;
        padding-top: 33px;
    }
}
.border-class{
    border: none;
}